<div class="container mx-auto pt-8">
  <div class="overflow-hidden bg-white shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-lg font-medium leading-6 text-gray-900">{{ title }}</h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">{{ subtitle }}</p>
    </div>
    <div class="border-t border-gray-200 pt-8 pb-8 pr-4 pl-4" *ngIf="tasks.length">
      <div *ngFor="let task of tasks">
        <div class="flex w-full h-auto flex-row border-2 rounded-lg p-2 mb-1 justify-between">
          <div class="flex flex-col justify-center">
            <label for="{{ task.taskName }}" class="text-slate-900">{{ task.taskName }}</label>
            <span class="text-xs text-slate-500" *ngIf="task.taskDescription">{{ task.taskDescription }}</span>
          </div>
          <button type="button" class="p-2  rounded-md text-xs bg-slate-900 text-slate-100"
            (click)="finishTask(task.id)">Concluir</button>
        </div>
      </div>
    </div>
  </div>
</div>
